<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.sf.etrakr.ftrace.ui.category"
            class="net.sf.etrakr.ftrace.ui.views.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="net.sf.etrakr.ftrace.ui.views.controlflow"
            name="Control Flow"
            restorable="true">
      </view>
      <category
            id="net.sf.etrakr.ftrace.ui.category"
            name="Ftrace">
      </category>
      <view
            allowMultiple="false"
            category="net.sf.etrakr.ftrace.ui.category"
            class="net.sf.etrakr.ftrace.ui.views.cpu.CpuUsageView"
            icon="icons/eview16/resources_view.gif"
            id="net.sf.etrakr.ftrace.ui.views.cpu.CpuUsageView"
            name="CPU Usage"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="net.sf.etrakr.ftrace.ui.analysis.TmfAnalysisViewOutput"
            id="net.sf.etrakr.ftrace.ui.views.controlflow">
         <analysisId
               id="net.sf.etrakr.tmf.ftrace.analysis.ftrace">
         </analysisId>
      </output>
      <output
            class="net.sf.etrakr.ftrace.ui.analysis.TmfAnalysisViewOutput"
            id="net.sf.etrakr.ftrace.ui.views.cpu.CpuUsageView">
         <analysisId
               id="net.sf.etrakr.tmf.ftrace.analysis.ftrace.cpuusage">
         </analysisId>
      </output>
   </extension>

</plugin>
