<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="etrakr"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/alt_window_16.gif"
            thread="main"
            visible="true">
         <run
               class="net.sf.etrakr.application.app.Application">
         </run>
      </application>
   </extension>

</plugin>
