<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="net.sf.etrakr.tmf.ctrace.trace.ChromeTrace"
            isDirectory="false"
            name="ChromeTrace"
            trace_type="net.sf.etrakr.tmf.ctrace.trace.ChromeTrace">
      </type>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="net.sf.etrakr.tmf.ctrace.analysis.CtraceAnalysisModule"
            id="net.sf.etrakr.tmf.ctrace.analysis.ctrace"
            name="CtraceAnalysisModule">
         <tracetype
               applies="true"
               class="net.sf.etrakr.tmf.ctrace.trace.ChromeTrace">
         </tracetype>
      </module>
      <module
            analysis_module="net.sf.etrakr.tmf.ctrace.analysis.CtraceCpuUsageAnalysis"
            id="net.sf.etrakr.tmf.ctrace.analysis.ctrace.cpuusage"
            name="cpu usage">
         <tracetype
               applies="true"
               class="net.sf.etrakr.tmf.ctrace.trace.ChromeTrace">
         </tracetype>
      </module>
   </extension>

</plugin>
