<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="net.sf.etrakr.chrome.ui.category"
            class="net.sf.etrakr.chrome.ui.views.controlflow.ControlFlowView"
            icon="icons/eview16/control_flow_view.gif"
            id="net.sf.etrakr.chrome.ui.views.controlflow.ControlFlowView"
            name="Control Flow"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="net.sf.etrakr.chrome.ui.category"
            class="net.sf.etrakr.chrome.ui.views.cpu.CpuUsageView"
            icon="icons/eview16/resources_view.gif"
            id="net.sf.etrakr.chrome.ui.views.cpu.CpuUsageView"
            name="CPU Usage"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="net.sf.etrakr.chrome.ui.category"
            class="net.sf.etrakr.chrome.ui.views.resource.ResourcesView"
            icon="icons/eview16/resources_view.gif"
            id="net.sf.etrakr.chrome.ui.views.resource.ResourcesView"
            name="Resource"
            restorable="true">
      </view>
      <category
            id="net.sf.etrakr.chrome.ui.category"
            name="Chrome">
      </category>
   </extension>
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <output
            class="net.sf.etrakr.chrome.ui.analysis.TmfAnalysisViewOutput"
            id="net.sf.etrakr.chrome.ui.views.controlflow.ControlFlowView">
         <analysisId
               id="net.sf.etrakr.tmf.ctrace.analysis.ctrace">
         </analysisId>
      </output>
      <output
            class="net.sf.etrakr.chrome.ui.analysis.TmfAnalysisViewOutput"
            id="net.sf.etrakr.chrome.ui.views.resource.ResourcesView">
         <analysisId
               id="net.sf.etrakr.tmf.ctrace.analysis.ctrace">
         </analysisId>
      </output>
      <output
            class="net.sf.etrakr.chrome.ui.analysis.TmfAnalysisViewOutput"
            id="net.sf.etrakr.chrome.ui.views.cpu.CpuUsageView">
         <analysisId
               id="net.sf.etrakr.tmf.ctrace.analysis.ctrace.cpuusage">
         </analysisId>
      </output>
   </extension>

</plugin>
