<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionType
            id="net.sf.etrakr.remote.adb"
            name="ADB"
            scheme="adb">
      </connectionType>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionControlService">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="org.eclipse.remote.core.IRemotePortForwardingService">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionPropertyService">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="org.eclipse.remote.core.IRemoteProcessService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbFileManager$Factory"
            service="org.eclipse.remote.core.IRemoteFileService">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="org.eclipse.remote.core.IRemoteConnectionHostService">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbConnection$Factory"
            service="net.sf.etrakr.remote.adb.core.AdbConnection">
      </connectionService>
      <connectionService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbCommandShellService$Factory"
            service="org.eclipse.remote.core.IRemoteCommandShellService">
      </connectionService>
   </extension>
   <extension
         point="org.eclipse.remote.core.remoteServices">
      <processService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessControlService">
      </processService>
      <processService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessSignalService">
      </processService>
      <processService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.AdbProcess$Factory"
            service="org.eclipse.remote.core.IRemoteProcessTerminalService">
      </processService>
      <processService
            connectionTypeId="net.sf.etrakr.remote.adb"
            factory="net.sf.etrakr.remote.adb.core.RemoteProcess$Service$Factory4"
            service="net.sf.etrakr.remote.adb.core.ProcessService4">
      </processService>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="adb">
         <run
               class="net.sf.etrakr.remote.adb.core.AdbFileSystem">
         </run>
      </filesystem>
   </extension>
   

</plugin>
